.input_area{
    height: 29vh;
    width: 88%;
    font-size: 1.6rem;
    border-radius: 5%;
}
.popup_buttons_div{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
button{
    color: blue;
    border: 0px;
    font-size: 1.5rem;
    background: transparent;
}
.input_card{
    position: absolute;
    top: 20%;
    right: 38%;
    background-color: whitesmoke;
    padding-left: 2.4%;
    padding-right: 1%;
    padding-bottom: 2.4%;
    border-radius: 5%;
    border: .8px solid gray;
}
button{
    cursor: pointer;
}